/*** Bootstrap overriding settings ***/

// Override default variables before the import
// bootstrap/scss/_variables.scss

$font-family-base: Arial,Helvetica,sans-serif;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$blue: #39C1FA;
$red: #d93025;
$orange: #D45B55;

$warning: $orange !default;

$card-cap-bg: rgb(255, 169, 161);
// $line-height-base: 1;
$list-group-item-padding-y: 0.35rem;

// Import Bootstrap and its default variables
// must prefix imports from node_modules with ~
@import '~bootstrap/scss/bootstrap.scss';

// create-react-app default settings
.body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-primary {
	color: #fff;
}

// bootstrap/scss/_navbar.scss

.navbar-nav {
	margin-top: 0.9rem;
}

.navbar-nav .nav-link {
	margin-left: 0.8em;
	padding: 0.3rem 1rem;
}

@include media-breakpoint-up(sm) {
	.navbar-nav {
		margin-top: 0;
	}
}

.navbar-nav .nav-link.active {
	background: white;
	color: #00A8F8;
	border-radius: calc(0.35rem - 1px);
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #00A8F8;
}

// bootstrap/scss/_type.scss

.card-header {
	padding: 0;
	margin: 0;
	height: 6px;
}

// bootstrap/scss/_list-group.scss

.list-group-item {
	line-height: 1.5;
}

// bootstrap/scss/_forms.scss

.form-label, .col-form-label {
  font-weight: 900;
}

.btn-link.btn-sm {
	line-height: 1;
}

.form-control::input-placeholder { color: rgba(0, 0, 0, 0.3); }  /* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(0, 0, 0, 0.5); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(0, 0, 0, 0.5); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(0, 0, 0, 0.5); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(0, 0, 0, 0.5); }  /* Microsoft Edge */
